body {
	background: #FFFFFF;
}

.d_Top {
	height: 3%;
	margin: 10px auto;
	border: solid 1px;
	padding: 1px;
}

.d_Top .d_data {
	float: left;
	width: 45%;
	font-size: 12px;
	padding: 1px;
}

.d_Top .d_mLogin {
	float: left;
	width: 45%;
	margin-left: 110px;
	padding: 1px;
}

.d_Top .d_mLogin p {
	text-align: right;
	font-size: 13px;
}

.d_corpo {
	height: 150px;
	margin: 10px auto;
	border: solid 1px;
	padding: 1px;
}

.d_corpo .d_titulo h1 {
	color: #555;
	text-align: center;
	margin: 10px auto;
}

.d_corpo .d_Menu_Adicionar {
	float: left;
	width: 25%;
	margin: 10px;
	border: solid 1px;
	position: relative;
}

.d_corpo .d_Menu_Adicionar .bnt_add {
	position:relative;
	top:1px;
	left:33px;
	margin:5px auto;
	padding:1px;
}

.d_corpo .d_Menu_Adicionar .bnt_delete {
	position:relative;
	top:1px;
	left:66px;
	margin:5px auto;
	padding:1px;
}

.d_corpo .d_Menu_Adicionar .bnt_modify {
	position:relative;
	top:1px;
	left:99px;
	margin:5px auto;
	padding:1px;
}

.d_Main {
	margin: 10px auto;
	height: 300px;
	border: solid 1px;
	padding: 1px;
}

.d_Main .d_Grind_Main {
	margin: 10px auto;
	padding: 1px;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: black;
}

.d_Footer {
	margin: 10px auto;
	height: 150px;
	border: solid 1px;
	padding: 1px;
}

.d_Footer h1 {
	text-align: center;
}